h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: lighter;
}
h2 {
    font: lighter 14px sans-serif;
}

header,h1,h2,footer,p,nav,article {
    display: block;
}

body {
    text-align: center;
}

.agrupar {
    width: 960px;
    background-color: green;
    margin: auto;
    padding: 100px;
}

.header {
    background-color:#3770c9;
    border: #999999;
    padding: 20px;
}

.menu {
    background-color: #ccc;
    padding:  5px 15px;
}
.menu li {
    
    list-style: none;
    border: 5px;
    padding: 5px;
    font:  bold 14px verdana;
    display: inline-block
    
}
.header h1 {
    text-align: left;
}

